.tela-mapa {
  font-family: "Comfortaa", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(5, 128, 138);
  background: linear-gradient(
    90deg,
    rgba(5, 128, 138, 1) 0%,
    rgba(98, 173, 179, 1) 100%
  );
}

.conteudo-mapa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
}

.conteudo-mapa .retangulo {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0e, 0.5);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  margin-top: 0;
}

.conteudo-mapa .retangulo .conteudo-retangulo {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
  margin-top: 0px;
}

.conteudo-mapa .retangulo:hover .conteudo-retangulo {
  transform: translateY(0px);
  opacity: 1;
}

.conteudo-mapa .retangulo .conteudo-retangulo h2 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.conteudo-mapa .retangulo .conteudo-retangulo h3 {
  font-size: 1.8em;
  color: #000000;
  z-index: 1;
}

.conteudo-mapa .retangulo .conteudo-retangulo p {
  font-size: 1em;
  color: #000000;
  font-weight: 300;
}

.conteudo-mapa .retangulo .conteudo-retangulo a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

.tela-mapa h1 {
  text-align: center;
  color: white;
  font-size: 2 px;
}

#mapa-um {
  background: url(../img/fase1.png);
}

#mapa-dois {
  background: url(../img/fase2apagado.png);
}

#mapa-tres {
  background: url(../img/fase3apagado.png);
}
#main {
  background: rgb(5, 128, 138);
  background: linear-gradient(
    90deg,
    rgba(5, 128, 138, 1) 0%,
    rgba(98, 173, 179, 1) 100%
  );
}
h1 {
  text-align: center;
  color: white;
  font-size: 2 px;
}
